# Consuming the API

In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import requests

Loading in the GOT API root url

In [3]:
got_url="https://anapioficeandfire.com/api/houses"

Loading in the GOT API Houses url

In [4]:
got_houses_url="https://anapioficeandfire.com/api/houses"
query_params = {"name": "Breakstone"}
requests.get(got_houses_url, params=query_params)

In [5]:
house_breakstone = requests.get(got_houses_url, params=query_params)

In [6]:
house_breakstone.url

'https://anapioficeandfire.com/api/houses?name=Breakstone'

In [7]:
house_breakstone_json = house_breakstone.json()

In [8]:
house_breakstone_json

[]

In [9]:
house_breakstone_data = pd.DataFrame(house_breakstone_json)

In [10]:
house_breakstone_data

Empty DataFrame
Columns: []
Index: []

### Data Inspection

In [11]:
type(house_breakstone_data)

pandas.core.frame.DataFrame

In [12]:
house_breakstone_data.info

<bound method DataFrame.info of Empty DataFrame
Columns: []
Index: []>

In [13]:
house_breakstone_data.shape

(0, 0)

In [14]:
house_breakstone_data.head()

Empty DataFrame
Columns: []
Index: []

data inspection reveals empty dataframe, hence index is not available