
This challenge will involve querying an API and extracting information from it. The API in question provides information on Game of Thrones, allowing one to access information on the houses, characters and books.

* API URL: http://anapioficeandfire.com/api/{SECTION}/{INDEX}

Where SECTION can be either ‘books’, ‘characters’, or ‘houses’ and INDEX is an integer to a certain entry in a section.

For example, to access the character Peter Baelish, the full request would be http://anapioficeandfire.com/api/characters/823, where 823 is the index corresponding to that character. 

It's recommended to read the full documentation, which can be found here: https://anapioficeandfire.com/Documentation
`

The first step is to confirm acess to the API root url

In [1]:
import pandas as pd
import requests
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
got_url = "https://anapioficeandfire.com/api/"
got_response = requests.get(got_url)

In [3]:
got_response.text

'{"books":"https://anapioficeandfire.com/api/books","characters":"https://anapioficeandfire.com/api/characters","houses":"https://anapioficeandfire.com/api/houses"}'

In [32]:
got_response

Access to API is confirmed

### Question 1:

a) What index corresponds to the house "House Breakstone"?

To read in the houses url

In [18]:
got_houses_url="https://anapioficeandfire.com/api/houses"

To specify the query parameters

In [ ]:
query_params = {"name": "House Breakstone",}

To make a request to the API

In [ ]:
requests.get(got_houses_url, params=query_params)

In [5]:
house_breakstone = requests.get(got_houses_url, params=query_params)

To check the url

In [6]:
house_breakstone.url

'https://anapioficeandfire.com/api/houses?name=House+Breakstone'

To read in the result as a json file

In [7]:
house_breakstone_json = house_breakstone.json()

In [8]:
house_breakstone_json

[{'url': 'https://anapioficeandfire.com/api/houses/41',
  'name': 'House Breakstone',
  'region': 'The Vale',
  'coatOfArms': 'A red sledge',
  'words': '',
  'titles': [''],
  'seats': [''],
  'currentLord': '',
  'heir': '',
  'overlord': '',
  'founded': '',
  'founder': '',
  'diedOut': '',
  'ancestralWeapons': [''],
  'cadetBranches': [],
  'swornMembers': []}]

House Breakstone has an index of `41` as shown in the above

### Question 2:

b) How many males, females and unknown genders are there in the first 40 characters?
Note, index 0 does not correspond to a character, so full range is 1 - 40 both ends inclusive.

Write a function to obtain a single character from the API.

In [9]:
def get_character(index):
    url = f"https://anapioficeandfire.com/api/characters/{index}"
    response = requests.get(url)
    result = response.json()
    return result

Write another function to obtain multiple characters from the API

In [10]:
def get_multiple_character(get_character, start_index, end_index):
    results = []
    for i in range(start_index, end_index + 1):
        result = get_character(i)
        results.append(result)
    return results

To obtain the first 40 characters...

In [11]:
first40_characters = get_multiple_character(get_character, 1, 40)

Determine the type...

In [12]:
type(first40_characters)

list

To convert the list into a dataframe

In [13]:
first40_characters_data = pd.DataFrame(first40_characters)

To check the shape..

In [14]:
first40_characters_data.shape

(40, 16)

To briefly inspect the the dataframe...

In [15]:
first40_characters_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   url          40 non-null     object
 1   name         40 non-null     object
 2   gender       40 non-null     object
 3   culture      40 non-null     object
 4   born         40 non-null     object
 5   died         40 non-null     object
 6   titles       40 non-null     object
 7   aliases      40 non-null     object
 8   father       40 non-null     object
 9   mother       40 non-null     object
 10  spouse       40 non-null     object
 11  allegiances  40 non-null     object
 12  books        40 non-null     object
 13  povBooks     40 non-null     object
 14  tvSeries     40 non-null     object
 15  playedBy     40 non-null     object
dtypes: object(16)
memory usage: 5.1+ KB

To check the unique values (genders)....

In [16]:
first40_characters_data["gender"].unique()

array(['Female', 'Male'], dtype=object)

To determine the number of each unique value (gender)....

In [17]:
first40_characters_data["gender"].value_counts()

Male      26
Female    14
Name: gender, dtype: int64

There are `26 male`, `14 female` characters in the first 40 characters. There are `ZERO unknown` genders

### Question 3

c) How many books can be accessed from this API?

First, we assume that the `list` of books accessible are contained in the `books` section of the API

In [ ]:
got_books_url="https://anapioficeandfire.com/api/books"
got_books = requests.get(got_books_url)

In [19]:
got_books_json=got_books.json()

In [20]:
type(got_books_json)

list

In [21]:
len(got_books_json)

10

In [1]:
got_books_json

NameError: name 'got_books_json' is not defined

In [23]:
got_books_data = pd.DataFrame(got_books_json)

In [24]:
got_books_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   url            10 non-null     object
 1   name           10 non-null     object
 2   isbn           10 non-null     object
 3   authors        10 non-null     object
 4   numberOfPages  10 non-null     int64
 5   publisher      10 non-null     object
 6   country        10 non-null     object
 7   mediaType      10 non-null     object
 8   released       10 non-null     object
 9   characters     10 non-null     object
 10  povCharacters  10 non-null     object
dtypes: int64(1), object(10)
memory usage: 1008.0+ bytes

In [25]:
got_books_data['url'].unique()

array(['https://anapioficeandfire.com/api/books/1',
       'https://anapioficeandfire.com/api/books/2',
       'https://anapioficeandfire.com/api/books/3',
       'https://anapioficeandfire.com/api/books/4',
       'https://anapioficeandfire.com/api/books/5',
       'https://anapioficeandfire.com/api/books/6',
       'https://anapioficeandfire.com/api/books/7',
       'https://anapioficeandfire.com/api/books/8',
       'https://anapioficeandfire.com/api/books/9',
       'https://anapioficeandfire.com/api/books/10'], dtype=object)

In [26]:
got_books_data['url'].value_counts()

url
https://anapioficeandfire.com/api/books/1     1
https://anapioficeandfire.com/api/books/2     1
https://anapioficeandfire.com/api/books/3     1
https://anapioficeandfire.com/api/books/4     1
https://anapioficeandfire.com/api/books/5     1
https://anapioficeandfire.com/api/books/6     1
https://anapioficeandfire.com/api/books/7     1
https://anapioficeandfire.com/api/books/8     1
https://anapioficeandfire.com/api/books/9     1
https://anapioficeandfire.com/api/books/10    1
Name: count, dtype: int64

A total of `10 books` can be accessed

### Question 4:

d: How many books does the character 'High Septon' appear in? (ignoring 'povcharacters') 

Hint: index value of Septon needs to be found first; it is smaller than 20.

To read in the characters url

In [23]:
got_characters_url="https://www.anapioficeandfire.com/api/characters"

To specify the query parameters

In [24]:
query_params = {"name": "High Septon", "hasWords":"Septon"}

To make a request to the API

In [25]:
requests.get(got_characters_url, query_params)

In [26]:
septon_response = requests.get(got_characters_url, query_params)

To check the url

In [27]:
septon_response.url

'https://www.anapioficeandfire.com/api/characters?name=High+Septon&hasWords=Septon'

In [28]:
septon_response

To read in the response as a json file

In [29]:
septon_response_json =septon_response.json()

In [30]:
septon_response_json

[{'url': 'https://www.anapioficeandfire.com/api/characters/15',
  'name': 'High Septon',
  'gender': 'Male',
  'culture': '',
  'born': '',
  'died': '',
  'titles': ['High Septon',
   'His High Holiness',
   'Father of the Faithful',
   'Voice of the Seven on Earth'],
  'aliases': ['The High Sparrow'],
  'father': '',
  'mother': '',
  'spouse': '',
  'allegiances': [],
  'books': ['https://www.anapioficeandfire.com/api/books/5',
   'https://www.anapioficeandfire.com/api/books/8'],
  'povBooks': [],
  'tvSeries': ['Season 5', 'Season 6'],
  'playedBy': ['Jonathan Pryce']}]

The character `High Septon` appears in two books `5` and `8` as shown above