In [2]:
import pandas as pd
import numpy as np
import os
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
os.getcwd()

'/Users/macbook/Documents/workspace_datahackerman/datahakerman_final_project'

In [4]:
main_working_folder = os.getcwd()

In [5]:
output_folder = 'outputs'

In [6]:
#main_working_folder

In [7]:
data_folder ='inputs/data'

In [8]:
os.listdir()

['DHP03_Data_Exploration.ipynb',
 '.DS_Store',
 'requirements.txt',
 'DHP01_Game_Of_Thrones_API_Access.ipynb',
 'environment.yml',
 'images',
 'DHP02_Dataframe_Merging.ipynb',
 'models',
 'README.md',
 'DHP04_Model_Building.ipynb',
 '.gitignore',
 'Comaprison_tests.ipynb',
 'app.py',
 '.ipynb_checkpoints',
 'old environment.yml',
 '.git',
 'jupyter_notebook',
 'outputs',
 'inputs']

In [9]:
main_path = os.path.join(main_working_folder,data_folder)

In [10]:
main_path

'/Users/macbook/Documents/workspace_datahackerman/datahakerman_final_project/inputs/data'

In [11]:
os.listdir(main_path)

['json_file.json', 'csv_file.csv', 'txt_file.txt']

In [12]:
files_list = os.listdir(main_path)

In [13]:
files_list

['json_file.json', 'csv_file.csv', 'txt_file.txt']

In [14]:
csv_data = pd.read_csv(os.path.join(main_path, files_list[1]))

In [15]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       1000 non-null   int64
 1   author.properties.status_count  1000 non-null   int64
 2   author.properties.verified      1000 non-null   bool
 3   content.body                    1000 non-null   object
 4   location.country                1000 non-null   object
 5   properties.platform             1000 non-null   object
 6   properties.sentiment            1000 non-null   int64
 7   location.latitude               1000 non-null   float64
 8   location.longitude              1000 non-null   float64
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 63.6+ KB

adjusting the data types

In [16]:
csv_data["properties.sentiment"] = csv_data["properties.sentiment"].astype('category')

In [17]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       1000 non-null   int64
 1   author.properties.status_count  1000 non-null   int64
 2   author.properties.verified      1000 non-null   bool
 3   content.body                    1000 non-null   object
 4   location.country                1000 non-null   object
 5   properties.platform             1000 non-null   object
 6   properties.sentiment            1000 non-null   category
 7   location.latitude               1000 non-null   float64
 8   location.longitude              1000 non-null   float64
dtypes: bool(1), category(1), float64(2), int64(2), object(3)
memory usage: 56.9+ KB

In [20]:
csv_data.head(3)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
0,1689,22566,False,Can't believe I'm missing Love Island ðŸ˜©,GB,twitter,1,51.57,0.46
1,114,1377,False,Last tweet about future wedding..... if I actually want a wedding I actually need to find a guy XD we all know I'm a loner. unlovable,GB,twitter,1,52.97,-1.17
2,568,8375,False,"How many times does he wonna say the phrase ""i deal with shit"" #LoveIsland",GB,twitter,-1,51.39,0.03

In [21]:
txt_data = pd.read_csv(os.path.join(main_path, files_list[2]),delimiter=",")

In [22]:
txt_data.head(3)

,author.properties.friends,author.properties.verified,location.longitude,author.properties.status_count,properties.sentiment,location.latitude,location.country,content.body,properties.platform
0,632,False,-2.32,106490.00,0.00,52.12,GB,@moel_bryn https://t.co/qvz1bI2Utb,twitter
1,278,False,-0.34,31467.00,-1.00,51.60,GB,Who wants to rap battle with me on stream tomorrow ðŸ‘€,twitter
2,169,False,-0.28,1185.00,-1.00,51.39,GB,i think she'd Understand but there's like Nothing she can do,twitter

In [23]:
txt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       1000 non-null   object
 1   author.properties.verified      1000 non-null   object
 2   location.longitude              999 non-null    float64
 3   author.properties.status_count  999 non-null    float64
 4   properties.sentiment            999 non-null    float64
 5   location.latitude               999 non-null    float64
 6   location.country                999 non-null    object
 7   content.body                    999 non-null    object
 8   properties.platform             998 non-null    object
dtypes: float64(4), object(5)
memory usage: 70.4+ KB

Combining the csv and txt dataset

In [24]:
csv_data.shape

(1000, 9)

In [25]:
txt_data.shape

(1000, 9)

In [26]:
csv_txt_merged = pd.concat([csv_data, txt_data])

In [27]:
csv_txt_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       2000 non-null   object
 1   author.properties.status_count  1999 non-null   float64
 2   author.properties.verified      2000 non-null   object
 3   content.body                    1999 non-null   object
 4   location.country                1999 non-null   object
 5   properties.platform             1998 non-null   object
 6   properties.sentiment            1999 non-null   float64
 7   location.latitude               1999 non-null   float64
 8   location.longitude              1999 non-null   float64
dtypes: float64(4), object(5)
memory usage: 156.2+ KB

In [28]:
csv_txt_merged.shape

(2000, 9)

Next, load in json file using Python JSON module

In [29]:
import json
with open('inputs/data/json_file.json','r') as f:
    json_raw = json.loads(f.read())

Use json_normalize to convert json file to pandas dataframe

In [30]:
json_data = pd.json_normalize(json_raw)

In [32]:
json_data.head(3)

,author.properties.friends,author.properties.verified,author.properties.status_count,location.longitude,location.country,location.latitude,content.body,properties.sentiment,properties.platform
0,150,False,583,-1.45,GB,53.38,To everyone tryin to snapchat me fuck off I'm ugly,-1,twitter
1,1321,False,86271,-4.20,GB,57.79,@cammiescott have you ever been to Scotland? You should give Nessie a wee visit! (I live near her) #askcamscott,-1,twitter
2,1952,False,11785,-0.07,GB,51.46,#LoveIsland #zaraholland ðŸ˜­ðŸ˜­ðŸ˜­ðŸ˜­ https://t.co/LUpQvshkm3,-1,twitter

In [33]:
json_data.shape

(1000, 9)

 Merge json dataframe to combined txt and csv dataframe

In [34]:
all_merged_data = pd.concat([csv_txt_merged, json_data])

In [35]:
all_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       3000 non-null   object
 1   author.properties.status_count  2999 non-null   float64
 2   author.properties.verified      3000 non-null   object
 3   content.body                    2999 non-null   object
 4   location.country                2999 non-null   object
 5   properties.platform             2998 non-null   object
 6   properties.sentiment            2999 non-null   float64
 7   location.latitude               2999 non-null   float64
 8   location.longitude              2999 non-null   float64
dtypes: float64(4), object(5)
memory usage: 234.4+ KB

In [36]:
all_merged_data.shape

(3000, 9)

Write merged dataframe into CSV file

In [37]:
save_path = 'outputs/all_merged_data.csv'

In [38]:
all_merged_data.to_csv('outputs/all_merged_data.csv')