Given three files in different file formats - CSV, TXT, and JSON, the challenge here is to collate the files into one dataframe. Each file contains 1000 rows. The final dataframe should have 3000 rows...

Importing relevant packages...

In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

Check the working directory

In [2]:
os.getcwd()

'/Users/macbook/Documents/workspace_ml/twitter_sentiment_love_island'

Indicate the relevant folders in directory

In [4]:
main_working_folder = os.getcwd()

In [5]:
data_folder ='inputs/data'

In [6]:
output_folder = 'outputs'

indicate the file path

In [7]:
file_path = os.path.join(main_working_folder,data_folder)

In [8]:
file_path

'/Users/macbook/Documents/workspace_ml/twitter_sentiment_love_island/inputs/data'

check content of file path

In [18]:
os.listdir(file_path)

['json_file.json', 'csv_file.csv', 'txt_file.txt']

In [19]:
files_list = os.listdir(file_path)

In [20]:
files_list

['json_file.json', 'csv_file.csv', 'txt_file.txt']

to read in csv file

In [21]:
csv_data = pd.read_csv(os.path.join(file_path, files_list[1]))

to inspect the csv file

In [22]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       1000 non-null   int64
 1   author.properties.status_count  1000 non-null   int64
 2   author.properties.verified      1000 non-null   bool
 3   content.body                    1000 non-null   object
 4   location.country                1000 non-null   object
 5   properties.platform             1000 non-null   object
 6   properties.sentiment            1000 non-null   int64
 7   location.latitude               1000 non-null   float64
 8   location.longitude              1000 non-null   float64
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 63.6+ KB

to format the data types

In [16]:
csv_data["properties.sentiment"] = csv_data["properties.sentiment"].astype('category')

confirming the data has been formatted

In [17]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       1000 non-null   int64
 1   author.properties.status_count  1000 non-null   int64
 2   author.properties.verified      1000 non-null   bool
 3   content.body                    1000 non-null   object
 4   location.country                1000 non-null   object
 5   properties.platform             1000 non-null   object
 6   properties.sentiment            1000 non-null   category
 7   location.latitude               1000 non-null   float64
 8   location.longitude              1000 non-null   float64
dtypes: bool(1), category(1), float64(2), int64(2), object(3)
memory usage: 56.9+ KB

inspecting samples of the csv data...

In [23]:
csv_data.sample(3)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
202,301,13743,False,Hate when you clearly care for some people but apparently you are 0/10 rating to them.,GB,twitter,-1,56.06,-3.50
616,1501,4284,False,That moment when my nans gardener asks for my age and my nan shouts 'way to young for you so back away from my grandchild!'. Too funny! ðŸ˜‚ðŸ‘µ,GB,twitter,-1,51.58,-1.31
316,675,32312,False,Can we all just agree @ChrissyCostanza is insanely talented,GB,twitter,0,51.47,-2.49

the csv data appears okay and formatted

next is to read in the txt file

In [26]:
txt_data = pd.read_csv(os.path.join(file_path, files_list[2]),delimiter=",")

inspect random samples of the txt data...

In [28]:
txt_data.sample(3)

,author.properties.friends,author.properties.verified,location.longitude,author.properties.status_count,properties.sentiment,location.latitude,location.country,content.body,properties.platform
228,741,False,-3.93,11169.00,-1.00,56.11,GB,we just asked a homeless busker for Â£3 so Troy could get in fubarðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚,twitter
967,1527,False,-0.44,78910.00,0.00,51.54,GB,"@Ecsaln @phljns congratulations, you must be very proud",twitter
816,2558,False,-5.93,29910.00,0.00,54.60,GB,@EdoardoMelilli @StephaneG05 @hbellvitge Any comparative studies +/- outcomes #nephjc,twitter

check that the txt data and csv data have corresponding data types and shapes

In [23]:
txt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       1000 non-null   object
 1   author.properties.verified      1000 non-null   object
 2   location.longitude              999 non-null    float64
 3   author.properties.status_count  999 non-null    float64
 4   properties.sentiment            999 non-null    float64
 5   location.latitude               999 non-null    float64
 6   location.country                999 non-null    object
 7   content.body                    999 non-null    object
 8   properties.platform             998 non-null    object
dtypes: float64(4), object(5)
memory usage: 70.4+ KB

In [29]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       1000 non-null   int64
 1   author.properties.status_count  1000 non-null   int64
 2   author.properties.verified      1000 non-null   bool
 3   content.body                    1000 non-null   object
 4   location.country                1000 non-null   object
 5   properties.platform             1000 non-null   object
 6   properties.sentiment            1000 non-null   int64
 7   location.latitude               1000 non-null   float64
 8   location.longitude              1000 non-null   float64
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 63.6+ KB

In [24]:
csv_data.shape

(1000, 9)

In [25]:
txt_data.shape

(1000, 9)

both dataframes appear okay

use pd.concat to combine the csv and txt dataframes..

In [34]:
csv_txt_merged = pd.concat([csv_data, txt_data])

inspect the combined dataframe

In [31]:
csv_txt_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       2000 non-null   object
 1   author.properties.status_count  1999 non-null   float64
 2   author.properties.verified      2000 non-null   object
 3   content.body                    1999 non-null   object
 4   location.country                1999 non-null   object
 5   properties.platform             1998 non-null   object
 6   properties.sentiment            1999 non-null   float64
 7   location.latitude               1999 non-null   float64
 8   location.longitude              1999 non-null   float64
dtypes: float64(4), object(5)
memory usage: 156.2+ KB

In [28]:
csv_txt_merged.shape

(2000, 9)

check random samples

In [35]:
csv_txt_merged.sample(3)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
177,240,3415.00,False,There reaches a point when u begin to wonder if ur just a punch bag to people for their problems because your so resilient...ðŸ¤”,GB,twitter,-1.00,52.62,-2.48
549,10386,90631.00,False,@C0URTN3Y_23 I'm crazy,GB,twitter,-1.00,51.50,-3.18
850,167,733.00,False,@whatbrittsaw + @edwardtekeli are killing me in this group chatðŸ˜‚,GB,twitter,-1.00,53.94,-1.21

Next, load in json file using Python JSON module

In [37]:
import json
with open('inputs/data/json_file.json','r') as f:
    json_raw = json.loads(f.read())

Use json_normalize to convert json file to pandas dataframe

In [38]:
json_data = pd.json_normalize(json_raw)

inspect json data

In [32]:
json_data.head(3)

,author.properties.friends,author.properties.verified,author.properties.status_count,location.longitude,location.country,location.latitude,content.body,properties.sentiment,properties.platform
0,150,False,583,-1.45,GB,53.38,To everyone tryin to snapchat me fuck off I'm ugly,-1,twitter
1,1321,False,86271,-4.20,GB,57.79,@cammiescott have you ever been to Scotland? You should give Nessie a wee visit! (I live near her) #askcamscott,-1,twitter
2,1952,False,11785,-0.07,GB,51.46,#LoveIsland #zaraholland ðŸ˜­ðŸ˜­ðŸ˜­ðŸ˜­ https://t.co/LUpQvshkm3,-1,twitter

In [33]:
json_data.shape

(1000, 9)

In [40]:
json_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       1000 non-null   int64
 1   author.properties.verified      1000 non-null   bool
 2   author.properties.status_count  1000 non-null   int64
 3   location.longitude              1000 non-null   float64
 4   location.country                1000 non-null   object
 5   location.latitude               1000 non-null   float64
 6   content.body                    1000 non-null   object
 7   properties.sentiment            1000 non-null   int64
 8   properties.platform             1000 non-null   object
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 63.6+ KB

 Merge json dataframe to combined txt and csv dataframe

In [41]:
all_merged_data = pd.concat([csv_txt_merged, json_data])

inspect all merged data dataframe

In [42]:
all_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       3000 non-null   object
 1   author.properties.status_count  2999 non-null   float64
 2   author.properties.verified      3000 non-null   object
 3   content.body                    2999 non-null   object
 4   location.country                2999 non-null   object
 5   properties.platform             2998 non-null   object
 6   properties.sentiment            2999 non-null   float64
 7   location.latitude               2999 non-null   float64
 8   location.longitude              2999 non-null   float64
dtypes: float64(4), object(5)
memory usage: 234.4+ KB

In [43]:
all_merged_data.shape

(3000, 9)

In [44]:
all_merged_data.sample(3)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
731,226,780.00,False,So pissed of rn ðŸ˜’,GB,twitter,-1.00,51.89,0.55
149,872,13065.00,False,@neilbyrne_CT Perrrrfect! Enjoy it for me! :-),GB,twitter,1.00,50.79,-1.08
924,2503,10958.00,False,Its hotting up #LoveIsland,GB,twitter,-1.00,52.23,0.51

Write merged dataframe into CSV file

To specify a save path

In [37]:
save_path = 'outputs/all_merged_data.csv'

To write to file

In [38]:
all_merged_data.to_csv('outputs/all_merged_data.csv')