```
This final task involves creating a predictive model for a response variable, given a set of features.
â€‹
The task is to create a predictive model for the variable â€˜properties.sentimentâ€™ using the remaining features in the data set. 
â€‹
The data files attached should be used to create the model.
â€‹
```

 To prepare the dataset for modelling

In [1]:
import pandas as pd
import numpy as np
import os
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
love_island_data = pd.read_csv('outputs/love_island_data.csv')
print("'love_island_data' successfully loaded...")

'love_island_data' successfully loaded...

To inspect the data...

In [3]:
love_island_data.shape

(2999, 11)

In [4]:
love_island_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0.1                    2999 non-null   int64
 1   Unnamed: 0                      2999 non-null   int64
 2   author.properties.friends       2999 non-null   int64
 3   author.properties.status_count  2999 non-null   float64
 4   author.properties.verified      2999 non-null   bool
 5   content.body                    2999 non-null   object
 6   location.country                2999 non-null   object
 7   properties.platform             2999 non-null   object
 8   properties.sentiment            2999 non-null   float64
 9   location.latitude               2999 non-null   float64
 10  location.longitude              2999 non-null   float64
dtypes: bool(1), float64(4), int64(3), object(3)
memory usage: 237.4+ KB

To drop duplicate and irrelevant columns in dataframe

In [5]:
del love_island_data ['Unnamed: 0.1']
del love_island_data ['Unnamed: 0']

In [6]:
love_island_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       2999 non-null   int64
 1   author.properties.status_count  2999 non-null   float64
 2   author.properties.verified      2999 non-null   bool
 3   content.body                    2999 non-null   object
 4   location.country                2999 non-null   object
 5   properties.platform             2999 non-null   object
 6   properties.sentiment            2999 non-null   float64
 7   location.latitude               2999 non-null   float64
 8   location.longitude              2999 non-null   float64
dtypes: bool(1), float64(4), int64(1), object(3)
memory usage: 190.5+ KB

In [7]:
love_island_data.head(3)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
0,1689,22566.00,False,Can't believe I'm missing Love Island ðŸ˜©,GB,twitter,1.00,51.57,0.46
1,114,1377.00,False,Last tweet about future wedding..... if I actually want a wedding I actually need to find a guy XD we all know I'm a loner. unlovable,GB,twitter,1.00,52.97,-1.17
2,568,8375.00,False,"How many times does he wonna say the phrase ""i deal with shit"" #LoveIsland",GB,twitter,-1.00,51.39,0.03

setting the train_test_split

Split is `30%` to `70%` that is, `0.3`, `0.7`

In [8]:
from sklearn.model_selection import train_test_split
from autogluon.tabular import TabularDataset, TabularPredictor

In [9]:
X = love_island_data[["author.properties.friends",
                    "author.properties.status_count",
                    "author.properties.verified","content.body",
                    "location.country","properties.platform",
                    "properties.sentiment","location.latitude",
                    "location.longitude"]]

In [10]:
type(X)

pandas.core.frame.DataFrame

In [11]:
X.head(3)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
0,1689,22566.00,False,Can't believe I'm missing Love Island ðŸ˜©,GB,twitter,1.00,51.57,0.46
1,114,1377.00,False,Last tweet about future wedding..... if I actually want a wedding I actually need to find a guy XD we all know I'm a loner. unlovable,GB,twitter,1.00,52.97,-1.17
2,568,8375.00,False,"How many times does he wonna say the phrase ""i deal with shit"" #LoveIsland",GB,twitter,-1.00,51.39,0.03

In [12]:
y = love_island_data["properties.sentiment"]

In [13]:
type(y)

pandas.core.series.Series

In [14]:
y.head()

0    1.00
1    1.00
2   -1.00
3   -1.00
4    0.00
Name: properties.sentiment, dtype: float64

In [15]:
train_data, test_data = train_test_split(love_island_data,test_size = 0.30, random_state =42)

In [16]:
train_data.shape, test_data.shape

((2099, 9), (900, 9))

In [17]:
train_data.head(3)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
858,2723,27039.00,False,Ain't gna stress it anymoreðŸ˜´,GB,twitter,-1.00,51.45,-0.98
1011,278,31474.00,False,@Wackkyyy Yes if you take your shirt off like you did in the skype call. ðŸ‘€,GB,twitter,-1.00,51.60,-0.34
48,422,1083.00,False,New Music Alert https://t.co/nDKbwFcD7d,GB,twitter,1.00,51.51,-0.12

In [18]:
test_data.head(3)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
1376,282,2085.00,False,@Donforester Many established 1st generation immigrants want to restrict immigration. Many 2nd generation eg Irish more welcoming,GB,twitter,0.00,53.42,-2.92
932,51,12533.00,False,@smollyalexander thank u hunty,GB,twitter,1.00,53.37,-2.17
144,931,307.00,False,Hedge removal part one...!! @ Dalkeith https://t.co/slEBFhE0w9,GB,twitter,-1.00,55.87,-3.07

Model Building using Autogluon Tabular Predictor

In [19]:
label = 'properties.sentiment'

In [20]:
%%time

save_path = 'models/latest'
predictor = TabularPredictor(label=label, path=save_path).fit(train_data)

Warning: path already exists! This predictor may overwrite an existing predictor! path="models/latest"
Beginning AutoGluon training ...
AutoGluon will save models to "models/latest/"
AutoGluon Version:  0.7.0
Python Version:     3.9.16
Operating System:   Darwin
Platform Machine:   x86_64
Platform Version:   Darwin Kernel Version 20.6.0: Thu Jul  6 22:12:47 PDT 2023; root:xnu-7195.141.49.702.12~1/RELEASE_X86_64
Train Data Rows:    2099
Train Data Columns: 8
Label Column: properties.sentiment
Preprocessing data ...
AutoGluon infers your prediction problem is: 'multiclass' (because dtype of label-column == float, but few unique label-values observed and label-values can be converted to int).
	3 unique label values:  [-1.0, 1.0, 0.0]
	If 'multiclass' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Train Data Class Count: 3
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    5461.5 MB
	Train Data (Original)  Memory Usage: 0.71 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 1 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
		Fitting TextSpecialFeatureGenerator...
			Fitting BinnedFeatureGenerator...
			Fitting DropDuplicatesFeatureGenerator...
		Fitting TextNgramFeatureGenerator...
			Fitting CountVectorizer for text features: ['content.body']
			CountVectorizer fit with vocabulary size = 90
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Useless Original Features (Count: 1): ['properties.platform']
		These features carry no predictive signal and should be manually investigated.
		This is typically a feature which has the same value for all rows.
		These features do not need to be present at inference time.
	Types of features in original data (raw dtype, special dtypes):
		('bool', [])         : 1 | ['author.properties.verified']
		('float', [])        : 3 | ['author.properties.status_count', 'location.latitude', 'location.longitude']
		('int', [])          : 1 | ['author.properties.friends']
		('object', [])       : 1 | ['location.country']
		('object', ['text']) : 1 | ['content.body']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])                    :  1 | ['location.country']
		('float', [])                       :  3 | ['author.properties.status_count', 'location.latitude', 'location.longitude']
		('int', [])                         :  1 | ['author.properties.friends']
		('int', ['binned', 'text_special']) : 26 | ['content.body.char_count', 'content.body.word_count', 'content.body.capital_ratio', 'content.body.lower_ratio', 'content.body.digit_ratio', ...]
		('int', ['bool'])                   :  1 | ['author.properties.verified']
		('int', ['text_ngram'])             : 91 | ['__nlp__.about', '__nlp__.all', '__nlp__.am', '__nlp__.an', '__nlp__.and', ...]
	1.4s = Fit runtime
	7 features in original data used to generate 123 features in processed data.
	Train Data (Processed) Memory Usage: 0.51 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 1.6s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.2, Train Rows: 1679, Val Rows: 420
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	0.4643	 = Validation score   (accuracy)
	7.47s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.4429	 = Validation score   (accuracy)
	0.1s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
No improvement since epoch 3: early stopping
	0.6262	 = Validation score   (accuracy)
	4.35s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: LightGBMXT ...
	Warning: Exception caused LightGBMXT to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. If you are using Mac OSX, Please try 'brew install libomp'. Detailed info: dlopen(/Users/macbook/opt/anaconda3/envs/twittersentiment_env/lib/python3.9/site-packages/lightgbm/lib_lightgbm.so, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: /Users/macbook/opt/anaconda3/envs/twittersentiment_env/lib/python3.9/site-packages/lightgbm/lib_lightgbm.so
  Reason: image not found
Fitting model: LightGBM ...
	Warning: Exception caused LightGBM to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. If you are using Mac OSX, Please try 'brew install libomp'. Detailed info: dlopen(/Users/macbook/opt/anaconda3/envs/twittersentiment_env/lib/python3.9/site-packages/lightgbm/lib_lightgbm.so, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: /Users/macbook/opt/anaconda3/envs/twittersentiment_env/lib/python3.9/site-packages/lightgbm/lib_lightgbm.so
  Reason: image not found
Fitting model: RandomForestGini ...
	0.6571	 = Validation score   (accuracy)
	1.59s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.6357	 = Validation score   (accuracy)
	1.04s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: CatBoost ...
	0.6762	 = Validation score   (accuracy)
	4.8s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.6595	 = Validation score   (accuracy)
	0.91s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.6738	 = Validation score   (accuracy)
	0.9s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: XGBoost ...
	0.6548	 = Validation score   (accuracy)
	1.68s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.6357	 = Validation score   (accuracy)
	5.28s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: LightGBMLarge ...
	Warning: Exception caused LightGBMLarge to fail during training (ImportError)... Skipping this model.
		`import lightgbm` failed. If you are using Mac OSX, Please try 'brew install libomp'. Detailed info: dlopen(/Users/macbook/opt/anaconda3/envs/twittersentiment_env/lib/python3.9/site-packages/lightgbm/lib_lightgbm.so, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: /Users/macbook/opt/anaconda3/envs/twittersentiment_env/lib/python3.9/site-packages/lightgbm/lib_lightgbm.so
  Reason: image not found
Fitting model: WeightedEnsemble_L2 ...
	0.6833	 = Validation score   (accuracy)
	0.65s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 33.16s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("models/latest/")

CPU times: user 36.2 s, sys: 2.79 s, total: 39 s
Wall time: 33.3 s

In [21]:
predictor = TabularPredictor.load("models/latest")

In [22]:
predictor.leaderboard(silent=True)

,model,score_val,pred_time_val,fit_time,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L2,0.68,0.18,9.64,0.00,0.65,2,True,11
1,CatBoost,0.68,0.01,4.80,0.01,4.80,1,True,6
2,ExtraTreesEntr,0.67,0.08,0.90,0.08,0.90,1,True,8
3,ExtraTreesGini,0.66,0.07,0.91,0.07,0.91,1,True,7
4,RandomForestGini,0.66,0.08,1.59,0.08,1.59,1,True,4
5,XGBoost,0.65,0.01,1.68,0.01,1.68,1,True,9
6,NeuralNetTorch,0.64,0.03,5.28,0.03,5.28,1,True,10
7,RandomForestEntr,0.64,0.08,1.04,0.08,1.04,1,True,5
8,NeuralNetFastAI,0.63,0.03,4.35,0.03,4.35,1,True,3
9,KNeighborsUnif,0.46,0.08,7.47,0.08,7.47,1,True,1
10,KNeighborsDist,0.44,0.01,0.10,0.01,0.10,1,True,2

## Model Evaluation

load test data to make predictions

In [23]:
y_test = test_data[label]

In [24]:
y_test.head()

1376    0.00
932     1.00
144    -1.00
1752    0.00
51     -1.00
Name: properties.sentiment, dtype: float64

Define the values to predict

In [25]:
y_test = test_data[label]

In [26]:
y_test [0:5]

1376    0.00
932     1.00
144    -1.00
1752    0.00
51     -1.00
Name: properties.sentiment, dtype: float64

Delete label/target column to avoid cheating.

In [27]:
test_data_nolab = test_data.drop(columns=[label])

In [28]:
test_data_nolab.head(3)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,location.latitude,location.longitude
1376,282,2085.00,False,@Donforester Many established 1st generation immigrants want to restrict immigration. Many 2nd generation eg Irish more welcoming,GB,twitter,53.42,-2.92
932,51,12533.00,False,@smollyalexander thank u hunty,GB,twitter,53.37,-2.17
144,931,307.00,False,Hedge removal part one...!! @ Dalkeith https://t.co/slEBFhE0w9,GB,twitter,55.87,-3.07

confirming defined save path & predictor

In [29]:
save_path

'models/latest'

In [30]:
predictor

In [31]:
save_model_predictor = TabularPredictor.load(save_path)

In [32]:
save_model_predictor

In [33]:
y_pred = save_model_predictor.predict(test_data_nolab)

In [34]:
y_pred[0:5]

1376   -1.00
932    -1.00
144    -1.00
1752    0.00
51     -1.00
Name: properties.sentiment, dtype: float64

In [35]:
perf = predictor.evaluate_predictions(y_true=y_test, y_pred=y_pred, auxiliary_metrics=True)

Evaluation: accuracy on test data: 0.6188888888888889
Evaluations on test data:
{
    "accuracy": 0.6188888888888889,
    "balanced_accuracy": 0.5567001055973813,
    "mcc": 0.37610238921351147
}

# Predictor Leaderboard

Comparing the perfomance of autogluon models with the Predictor Leaderboard

In [36]:
save_model_predictor.leaderboard(test_data, silent=True)

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,RandomForestGini,0.64,0.66,0.17,0.08,1.59,0.17,0.08,1.59,1,True,4
1,ExtraTreesGini,0.62,0.66,0.16,0.07,0.91,0.16,0.07,0.91,1,True,7
2,WeightedEnsemble_L2,0.62,0.68,0.41,0.18,9.64,0.01,0.00,0.65,2,True,11
3,ExtraTreesEntr,0.62,0.67,0.16,0.08,0.90,0.16,0.08,0.90,1,True,8
4,RandomForestEntr,0.61,0.64,0.16,0.08,1.04,0.16,0.08,1.04,1,True,5
5,CatBoost,0.61,0.68,0.02,0.01,4.80,0.02,0.01,4.80,1,True,6
6,XGBoost,0.60,0.65,0.04,0.01,1.68,0.04,0.01,1.68,1,True,9
7,NeuralNetTorch,0.58,0.64,0.04,0.03,5.28,0.04,0.03,5.28,1,True,10
8,NeuralNetFastAI,0.57,0.63,0.04,0.03,4.35,0.04,0.03,4.35,1,True,3
9,KNeighborsUnif,0.42,0.46,0.02,0.08,7.47,0.02,0.08,7.47,1,True,1
10,KNeighborsDist,0.41,0.44,0.02,0.01,0.10,0.02,0.01,0.10,1,True,2

## Feature Importance

Checking the importance of different features (columns) on the test and train data

For `test_data`...

In [37]:
save_model_predictor.feature_importance(test_data, silent=True)

These features in provided data are not utilized by the predictor and will be ignored: ['properties.platform']

,importance,stddev,p_value,n,p99_high,p99_low
content.body,0.24,0.01,0.00,5,0.25,0.22
location.longitude,0.00,0.00,0.02,5,0.01,-0.00
location.latitude,0.00,0.00,0.32,5,0.01,-0.01
author.properties.status_count,0.00,0.00,0.04,5,0.00,-0.00
author.properties.friends,0.00,0.00,0.50,5,0.01,-0.01
author.properties.verified,0.00,0.00,0.50,5,0.00,0.00
location.country,0.00,0.00,0.50,5,0.00,0.00

For `train_data`...

In [38]:
save_model_predictor.feature_importance(train_data, silent=True)

These features in provided data are not utilized by the predictor and will be ignored: ['properties.platform']

,importance,stddev,p_value,n,p99_high,p99_low
content.body,0.40,0.01,0.00,5,0.42,0.39
author.properties.status_count,0.02,0.00,0.00,5,0.02,0.01
location.latitude,0.02,0.00,0.00,5,0.02,0.01
location.longitude,0.02,0.00,0.00,5,0.02,0.01
author.properties.friends,0.01,0.00,0.00,5,0.02,0.01
author.properties.verified,0.00,0.00,0.50,5,0.00,0.00
location.country,0.00,0.00,0.50,5,0.00,0.00

##Â Bringing it all together

In [39]:
test_data["predicted_sentiment"] = y_pred

In [40]:
test_data.head()

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude,predicted_sentiment
1376,282,2085.00,False,@Donforester Many established 1st generation immigrants want to restrict immigration. Many 2nd generation eg Irish more welcoming,GB,twitter,0.00,53.42,-2.92,-1.00
932,51,12533.00,False,@smollyalexander thank u hunty,GB,twitter,1.00,53.37,-2.17,-1.00
144,931,307.00,False,Hedge removal part one...!! @ Dalkeith https://t.co/slEBFhE0w9,GB,twitter,-1.00,55.87,-3.07,-1.00
1752,458,966.00,False,https://t.co/dvUtHRAPG4,GB,twitter,0.00,50.96,-0.56,0.00
51,680,3691.00,False,@MargevonMarge Blimey. You still haven't served enough time here? #EUref #Remain,GB,twitter,-1.00,53.55,-0.66,-1.00

In [41]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900 entries, 1376 to 1005
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   author.properties.friends       900 non-null    int64
 1   author.properties.status_count  900 non-null    float64
 2   author.properties.verified      900 non-null    bool
 3   content.body                    900 non-null    object
 4   location.country                900 non-null    object
 5   properties.platform             900 non-null    object
 6   properties.sentiment            900 non-null    float64
 7   location.latitude               900 non-null    float64
 8   location.longitude              900 non-null    float64
 9   predicted_sentiment             900 non-null    float64
dtypes: bool(1), float64(5), int64(1), object(3)
memory usage: 103.5+ KB

## Using input for prediction

In [42]:
test_data["author.properties.verified"].unique()

array([False,  True])

In [43]:
test_data["properties.platform"].unique()

array(['twitter'], dtype=object)

In [44]:
test_data["properties.sentiment"].unique()

array([ 0.,  1., -1.])

In [45]:
## Creating sample input
input_data_dict = {
    'author.properties.friends': 958,
    'author.properties.status_count': 7024,
    'author.properties.verified': 'False',
    'content.body': '#LoveIsland is the biggest show in Europe right now!!',
    'location.country': 'GB',
    'location.latitude': 53.3887,
    'location.longitude': -1.4699
}

In [46]:
input_data_dict

{'author.properties.friends': 958,
 'author.properties.status_count': 7024,
 'author.properties.verified': 'False',
 'content.body': '#LoveIsland is the biggest show in Europe right now!!',
 'location.country': 'GB',
 'location.latitude': 53.3887,
 'location.longitude': -1.4699}

In [47]:
input_data = pd.DataFrame([input_data_dict])

In [48]:
input_data

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,location.latitude,location.longitude
0,958,7024,False,#LoveIsland is the biggest show in Europe right now!!,GB,53.39,-1.47

In [49]:
save_model_predictor.predict(input_data)

0   1.00
Name: properties.sentiment, dtype: float64

In [50]:
save_model_predictor.predict(input_data)[0]

1.0